{%extends 'base.html'%}
<title>{%block title%}lucas-dev | {{entry.title}}{%endblock%}</title>
{% block content %}
<div id="div-body">
	<h2>Tags - Entries</h2>
	<div id="div-left">
		{% if entries %}
			{%for entry in entries%}
				<div class="entry">
					<div class="title-entry"><a href="{{entry.get_absolute_url}}">{{entry.title}}</a></div>
				<small>{{entry.date}}</small><br>
				<small><b>Tags:</b>
					{%for thistag in entry.tag.all%}
						<a href="{{thistag.get_absolute_url}}">{{thistag.name}}</a>
					{%endfor%}
				</small>
					<div class="post-prose">
							{{entry.content|safe}}
					</div>
				</div>
			{%endfor%}
			<p style="float:right">
		        {% if entries.has_previous %}
		            <a href="?page={{ entries.previous_page_number }}">previous</a>
		        {% endif %}
		        Page {{ entries.number }} of {{ entries.paginator.num_pages }}.
		        {% if entries.has_next %}
		            <a href="?page={{ entries.next_page_number }}">next</a>
		        {% endif %}
	    	</p>
	    {%else%}
	    	<h3>No entries </h3>
	    {%endif%}
	</div>
	<div id="div-right">
		<p id="p-share">Share:</p>
		
			<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
							<a class="addthis_button_preferred_1"></a>
							<a class="addthis_button_preferred_2"></a>
							<a class="addthis_button_preferred_3"></a>
							<a class="addthis_button_compact"></a>
						</div>
						<script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
						<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-531cda6062aa7675"></script>
		
		<div id="tags">
			<span id="tags-title">Tags:</span> 
			{%for tag in tags%}
				<br><a href="{{tag.get_absolute_url}}"> {{tag.name}} </a>
			{%endfor%}
		</div>
	</div>
</div>
{% endblock %}
{%block div-footer%}<div id="div-footer-bottom">{%endblock%}